First Day1

In [7]:
1+1

2

In [11]:
## is used for comments
## this is a function
# this is a comment
a = 20
a

20

In [12]:
"""
hello this is an example of multi line comments
x
y
z
..
"""
a = 20
a

20

# hello
## hello 1
### hello 2
1. hello this is numbering

## Numbers

In [15]:
1+3

4

In [16]:
print(1+3)

4

In [17]:
a=5
print(a)

5

In [23]:
print("Hello World my name is Rithvik \nI am learning data science this is day1")

Hello World my name is Rithvik
I am learning data science this is day1

# Variable Assignmenets

In [25]:
name="Rithvik"
job="student"

In [30]:
name="Bala"

In [26]:
job

'student'

In [28]:
number=10

In [29]:
number

10

In [32]:
name ## here name is overridden

'Bala'

In [33]:
type(name)

str

In [34]:
type(number)

int

In [35]:
## float
decimal_num=2.5

In [36]:
decimal_num

2.5

In [37]:
type(decimal_num)

float

In [38]:
1+2j

(1+2j)

In [39]:
type(1+2j)

complex

In [40]:
type("")

str

In [41]:
type('')

str

In [53]:
## bad way to write, never use a number before a variable
1a
3number

SyntaxError: invalid decimal literal (2223417945.py, line 2)

In [54]:
number1=22

In [56]:
## Variables are case sensitive
company='ineuron'
Company='pwskills'
print(company)
print(Company)

ineuron
pwskills

In [58]:
## Reserved Keywords (you cant mess with their values)
''' 
int, float, len,complex, bool,str,retutn,yield
'''

' \nint, float, len,complex, bool,str,retutn,yield\n'

In [59]:
## Boolean
True

True

In [60]:
False

False

In [61]:
True and False

False

In [62]:
True or False

True

In [63]:
not True

False

In [65]:
not False

True

In [66]:
type(not False)

bool

In [ ]:
## Typecasting (Converting a number into boolean value)
bool(0)

False

In [69]:
## can you convert a number into a string
str(23)

'23'

In [70]:
int('23')

23

In [71]:
type(int('23'))

int

In [68]:
bool(1)

True

### Dynamic Typing

In [72]:
int(1.54)

1

In [73]:
type(int(1.54))

int

In [74]:
## concatenation between different types

In [ ]:
## this will give error
int("1") + "1"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [77]:
"1" * "1"

TypeError: can't multiply sequence by non-int of type 'str'

In [76]:
"1" * 100

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [2]:
"1" * int("1")

'1'

In [3]:
bool(-1)

True

In [4]:
type("1" * int("1"))

str

In [5]:
type(bool(-1))

bool