In [ ]:
## Dynamic Typing - the compiler on runtime will understand the datatype

In [3]:
a='c'

In [4]:
type(a)

str

In [5]:
int()

0

In [ ]:
'''
In Python we dont have any character datatype as in other languges
we only have string datatype
'''

In [6]:
print("HELLO WORLD")

HELLO WORLD

In [7]:
print(123)

123

In [8]:
print(HELLO WORLD)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3560297028.py, line 1)

In [9]:
age=24
print("My age is:",age)

My age is: 24

In [13]:
print(f"My age is: {age}")
## f string is for formating purpose

My age is: 24

In [14]:
## format()
name="Rithvik"
age="24"
print("My name is {} and age is {}".format(name,age))

My name is Rithvik and age is 24

In [15]:
print("My name is {} and age is {}".format(age,name))

My name is 24 and age is Rithvik

In [16]:
## if there will be numorous parametres, we need to use variables
# placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Rithvik and age is 24

In [22]:
name="Rithvik"
age="24"
degree="BTech+Mtech"

# output " My age is 24 and i have completed: my degree of BTech+Mtech with the name of Rithvik"

print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name)) # the use of sequential formatting

# now use placeolder formatting
print("My age is {firstage} and i have completed: my degree of {firstdegree} with the name of {firstname}".format(firstname=name,firstage=age,firstdegree=degree))

# now use f string formatting
print(f"My age is {age} and i have completed: my degree of {degree} with the name of {name}")

My age is 24 and i have completed: my degree of BTech+Mtech with the name of Rithvik
My age is 24 and i have completed: my degree of BTech+Mtech with the name of Rithvik
My age is 24 and i have completed: my degree of BTech+Mtech with the name of Rithvik

## Control Flow
### Decision Making Statements

In [24]:
## If statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [29]:
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [32]:
##Task
## Take a input of age
## check wheater age >=18 and age<=45
## display a message you are young blooded

input()

'hi'

In [38]:
## age will be in number, so it is interger, but input will take it as a string, 
# so they will mismatch for that we need to TYPECAST input into interger with int function
# for it to display the number/interger input we given it

age=int(input("what is your age"))
if age>=18:
    if age<=45:
        print ("you are young blooded")


# or

age=int(input("what is your age"))
if age>=18 and age<=45:
   print ("you are young blooded")

you are young blooded
you are young blooded

In [39]:
True and True

True

In [40]:
True and False

False

In [41]:
True or False

True

In [42]:
True or True

True

In [45]:
## what if we give age 55 and how to handle since nothing prints

## IF ELSE STATEMENTS

age=int(input("what is your age"))
if age>=18 and age<=45:
   print ("you are young blooded")
else:
   print("Thankyou your application is rejected")

Thankyou your application is rejected

In [60]:
## Assignment
## mall - input the product price
## product>1000 rs 20% off
## print the product price after the off
## product<=1000 of 30% off
## print the product price after the off

price=int(input("Enter the product price:"))
if price>1000:
    discountedprice=int((price*0.8))
    print(f"Product price after discount is {discountedprice}")
else:
    print(f"Product price after discount is {discountedprice}")

Product price after discount is 8000

In [79]:
price=int(input("Enter the product price:"))
if price>3000:
    print(f"Product price after discount is {int(price*0.8)}")
elif price>=2000 and price<=3000:
    if price==2364:
        print(f"You get a speicial gift")
    print(f"Product price after discount is {int(price*0.7)}")
elif price>=100 and price<=2000:
    print(f"Product price after discount is {int(price*0.6)}")
else:
    print(f"Buy any product")

You get a speicial gift
Product price after discount is 1654

In [87]:
## Single Statement Suits
number=int(input("Enter the number:"))
if(number<=999):print("Number cannot be less than 999")
else:
    print("Globe Trotter")

Globe Trotter

## Loops statements
1. while loop
2. for loop
3. nested loop
4. loop control(break,continue,pass)

In [3]:
# while loop
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

In [4]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [9]:
#Atm machine with 1000 rs
#total_money=1000
#while transaction==total_money-100:
 #   print(transaction)
  #  transaction

total_money=1000
while total_money!=0:
    print(total_money)
    total_money=total_money-100
else:
    print("Put more money in bank")

1000
900
800
700
600
500
400
300
200
100
Put more money in bank

## For loop

In [10]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [11]:
## Nested loop
for i in range(1,6):
    print(i)

1
2
3
4
5

In [12]:
for i in range(1,6,2):
    print(i)

1
3
5

In [ ]:
# nested loop
n=7

# Assignment - equilateral triangle

In [14]:
# Loop controls
## Break and continue
fruits='apple,cherry,kiwi,melon'
for i in fruits:
    print(i,end='')

apple,cherry,kiwi,melon

In [17]:
fruits=['apple','cherry','kiwi','melon']
for i in fruits:
    print(i,end=' ')

apple cherry kiwi melon

In [22]:
fruits=['apple','cherry','kiwi','melon']
for i in fruits:
    print(i,end=' ')
    if i=='kiwi':
        print('You are here',end=' ')

apple cherry kiwi You are here melon

In [24]:
for i in fruits:
    if i=='kiwi':
        print('You are here',end=' ')
    print(i,end=' ')

apple cherry You are here kiwi melon