In [1]:
name="Rithvik"

In [2]:
reversed(name)

In [3]:
' '.join(reversed(name))

'k i v h t i R'

In [4]:
for i in list(reversed(name)):
    print(i,end="")

kivhtiR

In [5]:
list(reversed(name))

['k', 'i', 'v', 'h', 't', 'i', 'R']

In [6]:
# Removing characters from the end of the srtring

name.strip('R')

'ithvik'

In [7]:
# Words are mutable in string

string_n="Greetings from Globetrotter"
string_n.replace("from","to")

'Greetings to Globetrotter'

In [8]:
print(name)
name.isupper()
name

Rithvik

'Rithvik'

In [ ]:
str1="Welcome to Data Scicence.Welcome to Dat cience Masters"
str1.replace("Dat","Data").replace("cience","Science")

'Welcome to Dataa Scicence.Welcome to Data Science Masters'

In [11]:
str1

'Welcome to Data Scicence.Welcome to Dat cience Masters'

In [12]:
str1.isupper()

False

In [15]:
str1.upper()

'WELCOME TO DATA SCICENCE.WELCOME TO DAT CIENCE MASTERS'

In [18]:
str2=str1.upper()

In [19]:
str2.isupper()

True

In [23]:
str2.isprintable()

True

In [43]:
str2.__len__()

54

In [34]:
count=0
for x in str2:
    count=count+1
print(count)

54

In [37]:
new_s='kitten'

In [38]:
for i in new_s:
    print(i)

k
i
t
t
e
n

In [45]:
# display in index wise
range(len(new_s))

range(0, 6)

In [ ]:
for i in range(len(new_s)):
    print(i, "=", new_s[i])

0 = k
1 = i
2 = t
3 = t
4 = e
5 = n

In [59]:
# we can use index to iterate string reverse direction

news=(new_s).__reversed__
for i in news:
    print(news[i])

AttributeError: 'str' object has no attribute '__reversed__'

In [63]:
len(new_s)-1

5

In [67]:
for i in range(len(new_s)-1,-1,-1):
    print(new_s[i])

n
e
t
t
i
k

In [70]:
ch=len(new_s)-1
while ch>=0:
    print(new_s[ch])
    ch=ch-1

n
e
t
t
i
k

In [77]:
range(len(new_s))
print(len(new_s))
new_s.__len__()

6

6

In [72]:
for i in range(len(new_s)):
    print(new_s[len(new_s) - (i+1)])

n
e
t
t
i
k

In [78]:
naam="Rithvik"
vowels="AaEeIiOoUu"

In [80]:
for i in naam:
    print(i)

R
i
t
h
v
i
k

In [81]:
for i in naam:
    if i in vowels:
        print(f"{i} is a vowel")
    else:
        print(f"{i} is not a vowel")

R is not a vowel
i is a vowel
t is not a vowel
h is not a vowel
v is not a vowel
i is a vowel
k is not a vowel

## List

In [82]:
type([])

list

In [83]:
['Krish', "Rithvik", "Sush",32]

['Krish', 'Rithvik', 'Sush', 32]

In [84]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [87]:
list[0]

list[0]

In [88]:
list(name)

['R', 'i', 't', 'h', 'v', 'i', 'k']

In [89]:
str1="PW Skills Data Science MAsters"

In [93]:
str1.split()

['PW', 'Skills', 'Data', 'Science', 'MAsters']

In [97]:
lst1=str1.split(" ")

In [96]:
## return type of split function inside the strings is nothing but giving you list
str1[1]

'W'

In [99]:
lst1[:1]

['PW']

In [100]:
lst1[2::]

['Data', 'Science', 'MAsters']

In [101]:
lst1[::-2]

['MAsters', 'Data', 'PW']

In [102]:
lst1[-4::-1]

['Skills', 'PW']

In [103]:
lst1[-5::-2]

['PW']

In [111]:
## concatination operation
lst2=lst1 + [["hi", "bye"]]

In [114]:
lst2[-1][0]

'hi'

In [ ]:
# not an inplace process
lst1 * 2

['PW',
 'Skills',
 'Data',
 'Science',
 'MAsters',
 'PW',
 'Skills',
 'Data',
 'Science',
 'MAsters']

In [116]:
lst1

['PW', 'Skills', 'Data', 'Science', 'MAsters']

In [119]:
i=Data
for i in lst1:
    print(i)

NameError: name 'Data' is not defined

In [127]:
for elements in lst1:
    if elements=="Data":
        print(elements)
        break

Data

In [126]:
if "Science" in lst1:
    print("Present")

Present

In [132]:
## check elements inside the list
lst=[1,2,3,4]
4 in lst
5 in lst
3.0 in lst

True

In [135]:
lst1=['Zebra','Monkey','Donkey','Lion']
lst2=[5,6,2,9,5,8,6]

In [136]:
print(max(lst1))

Zebra

In [137]:
max(lst2)

9

In [138]:
min(lst1)

'Donkey'

In [139]:
lst.append("DAta")

In [140]:
lst

[1, 2, 3, 4, 'DAta']

In [142]:
lst.append(['masters', 'boom'])

In [143]:
lst

[1, 2, 3, 4, 'DAta', ['masters', 'boom']]

In [145]:
# inplace operation
lst.reverse()
lst

[1, 2, 3, 4, 'DAta', ['masters', 'boom']]

In [146]:
lst[::-1]

[['masters', 'boom'], 'DAta', 4, 3, 2, 1]

In [149]:
lst.append('pw')
lst

[1, 2, 3, 4, 'DAta', ['masters', 'boom'], 'pw', 'pw']

In [156]:
lst.extend("new")
lst

[1,
 2,
 3,
 4,
 'DAta',
 ['masters', 'boom'],
 'w',
 'w',
 'pw',
 'pw',
 'n',
 'n',
 'e',
 'e',
 'n',
 'e',
 'w']

In [157]:
lst1.sort(reverse=True)
lst1

['Zebra', 'Monkey', 'Lion', 'Donkey']

## Nested List

In [159]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

matrix=[lst_1,lst_2,lst_3]

In [160]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [162]:
matrix[1][2]

6

In [171]:
matrix[2][1:3]

[8, 9]

In [184]:
## How to get the output for 1, 4 , 7

In [186]:
## List Comprhension
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [188]:
# Assignment
# Sum of Even numbers and odd numbers
lst=[1,2,3,4,5,6,7,8]

In [240]:
for i in lst, j in lst:
    if i%2==0:
        if j%2!=0:
         print(i+j)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [241]:
# The "outer" loop to pick 'i'
for i in lst:
    # The "inner" loop to pick 'j'
    for j in lst:
        # Now, put your combined check from your second attempt here
        if i % 2 == 0 and j % 2 != 0:
            # If 'i' is even AND 'j' is odd, print their sum
            print(i + j)

3
5
7
9
5
7
9
11
7
9
11
13
9
11
13
15

In [243]:
even_sum=0
odd_sum=0

for i in lst:
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i

print(even_sum)
print(odd_sum)

20
16

In [244]:
# list comprehension

# find the square of all the numbers

lst=[1,2,3,4,5,6,7,8,9,10]

In [258]:
square_num=[num**2 for num in lst]
square_num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [254]:
total_sum=sum([num for num in lst if num%1==0])
total_sum

55

In [264]:
# create the list of only positve numbers from a given list
numbers = [-2, -1, 0, 1, 2, 3, 4]
postive_num=[num for num in numbers if num > 0]
postive_num

[1, 2, 3, 4]

In [268]:
# only first letters of words in a list
words = ['apple', 'banana', 'cherry', 'date']
letters= [word[0] for word in words]
letters

['a', 'b', 'c', 'd']

In [ ]:
# convert celcius to fareignheit
(9/5)*temp+32

NameError: name 'temp' is not defined

In [273]:
celsius_temperature = [0,10,20,30,40,50]

In [276]:
converted = [(9/5)*t+32 for t in celsius_temperature]
converted

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [281]:
# flatten a list of lists into single list
list_s = [[1,2,3],[4,5,6],[7,8,9]]

In [283]:
[j for i in list_s for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
## create a list of only prime numbers from given list
numbers = [1,2,3,4,5,6,7,8,9,10]

In [291]:
num1=23
num2=44
num2=2+3j
num1=num2.imag
num2-num1

(-1+3j)

In [292]:
int("pwskills") + 1

ValueError: invalid literal for int() with base 10: 'pwskills'

In [ ]:
_pw_skills=1
num_100=2

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (729162473.py, line 3)

In [303]:
"pwskills".isalpha()

True

In [305]:
Name = "pwskills"
Name[0]

'p'

In [306]:
1/False

ZeroDivisionError: division by zero

In [307]:
from global

SyntaxError: invalid syntax (3325915399.py, line 1)