Tuple characterstics are that its order is unchangeble, immutable and can only store the data temporarayly, its one of the built in data type in python apart from. list, set and dictionary.

In [5]:
## the two built in methods for tuple in python are count() and index()

t1 = (1,2,3,3,2,1,4,5,5,4)

print(t1.count(2))

2

In [ ]:
t1.index(3)

## tuples have fewer built in methods than lists because of their immutability. lists are mutable, meaning their elements can
### be added, removed, modified after creation, tuples cannot be appened, popped, removed, sorted, so this rigid behavior of its
## allows it to only have index and count functionalities

2

In [17]:
''' Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list '''

'''Tuples, lists and dictionary allow duplicate items but a set doesnt allow duplication of items. set are an unordered collection of unique items'''

List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

s1 = set(List)

s1

{1, 2, 3, 4}

In [19]:
atuple = (100, 200, 300, 400, 500)

print(atuple[-2])
print(atuple[-4:-1])

400
(200, 300, 400)

In [21]:
atuple = ("Orange")
print(type(atuple))

<class 'str'>

In [22]:
dict1 = {"key1":1, "key2":2}

dict2 = {"key2":2, "key1":1}

print(dict1 == dict2)

True

In [24]:
set1 = {"Yellow", "Orange", "Black"}

set2 = {"Orange", "Blue", "Pink"}

set3 = set1.difference(set2)
print(set3)

{'Black', 'Yellow'}

### Functions

## very important

In [25]:
print("this is my programe")

this is my programe

In [26]:
l = [1,2,3,4]

In [28]:
len(l)

4

In [31]:
def test():
    pass

In [32]:
def test1():
    print("this is my very very first function")

In [33]:
test1()

this is my very very first function

In [ ]:
# print always returns a nonetype in default

In [35]:
def test2():
    return "this is my fun with return"

In [36]:
test2()

'this is my fun with return'

In [38]:
test2() + " " + "rithvik"

'this is my fun with return rithvik'

In [39]:
def test3():
    return 1 , 4 , "pwskills" , 34.56

In [40]:
test3()

(1, 4, 'pwskills', 34.56)

In [41]:
test3() [2]

'pwskills'

In [42]:
test3()[0]

1

In [43]:
## functions need to return something at any particular situation

a,b,c,d = test3()

In [44]:
a

1

In [45]:
b

4

In [46]:
c

'pwskills'

In [47]:
d

34.56

In [50]:
def test4():
    a = 3*4 + 5
    return a

In [52]:
test4()

17

In [53]:
type(test3())

tuple

In [54]:
type(test2())

str

In [55]:
type(test4())

int

In [56]:
type(test1())

this is my very very first function

NoneType

In [58]:
def test5(a,b):
    c = a + b
    return c

In [60]:
test5(1,3)

4

In [61]:
test5("rithvik" , "1")

'rithvik1'

In [62]:
test5([1,2,3,4] , [4,5,6,7])

[1, 2, 3, 4, 4, 5, 6, 7]

In [63]:
test5(b = "rithvik" , a = "1")

'1rithvik'

In [76]:
l = 1,2,3,4,5, "sudh" , "pwskills" , [1,2,3,45,56]

In [ ]:
#create a function which will take list as input and give me a final list with all the numeric values

In [77]:
def test6(a):
    n = []
    for i in a :
        if type(i) == int or type(i) == float :
            n.append(i)
    return n

In [78]:
test6(l)

[1, 2, 3, 4, 5]

In [79]:
l

(1, 2, 3, 4, 5, 'sudh', 'pwskills', [1, 2, 3, 45, 56])

In [80]:
def test7(a):
    n = []
    for i in a :
        if type (i) == list :
            for j in i :
                if type(j) == int or type(j) == float :
                    n.append(j)
        else :
            if type(i) == int or type(i) == float :
                n.append(i)
        
    return n

In [81]:
test7(l)

[1, 2, 3, 4, 5, 1, 2, 3, 45, 56]

In [82]:
def test(a,b,c,d):
    pass

In [86]:
test(1,2,3,4,5)

TypeError: test() takes 4 positional arguments but 5 were given

In [87]:
test(1,2,3,4)

In [90]:
def test1(*args):
    return args

In [91]:
test1(1)

(1,)

In [92]:
test1(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [93]:
test1("rithvik" , [1,2,3,4] , (1,2,3,4))

('rithvik', [1, 2, 3, 4], (1, 2, 3, 4))

In [96]:
def test2(*rithvik):
    return rithvik

In [97]:
test2("rih" , (1,2,3), 1,2,4)

('rih', (1, 2, 3), 1, 2, 4)

In [98]:
def test3(*args , a):
    return args , a

In [99]:
test3(3)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [100]:
test3(1,2,3,4 , a = "sudh")

((1, 2, 3, 4), 'sudh')

In [101]:
test3(1,2,3,4 , "sudh")

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [102]:
def test4(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [103]:
test4(1,2,3, [1,2,3,4,4] , (1,2,3,4,4) , "sudh" , [4,5,6] , [6,7,8])

[[1, 2, 3, 4, 4], [4, 5, 6], [6, 7, 8]]

In [118]:
## diuble aeserics take any number of arguments in key and value pair

def test5(**kwargs):
    return kwargs

In [119]:
test5()

{}

In [120]:
type(test5())

dict

In [121]:
test5(34, 23, [1,2,3], "sudh", "rithvik")

TypeError: test5() takes 0 positional arguments but 5 were given

In [122]:
test5(a= 34, b =23, c = [1,2,3] , "sudh", "rithvik")

SyntaxError: positional argument follows keyword argument (2247478366.py, line 1)

In [123]:
test5(a= 34, b =23, c = [1,2,3] , d = ("sudh", "rithvik"))

{'a': 34, 'b': 23, 'c': [1, 2, 3], 'd': ('sudh', 'rithvik')}

In [127]:
def test6(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list:
            return i , kwargs[i]

In [128]:
test6(a= 34, b =23, c = [1,2,3] , d = ("sudh", "rithvik"))

('c', [1, 2, 3])

In [129]:
def test7(*args , **kwargs) :
    return args, kwargs

In [130]:
test7(2,3,4,5, a = 34, b = 98)

((2, 3, 4, 5), {'a': 34, 'b': 98})

## Genrator Functions

In [131]:
range(1,10)

range(1, 10)

In [135]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [136]:
l = [1,2,3,4,5,6,7,8,7, "sudh", "pwskills"]

In [138]:
def testa(a) :
    n = []
    for i in a :
        if type(i) == int :
            n.append(i)
    return n

In [141]:
testa(l)

[1, 2, 3, 4, 5, 6, 7, 8, 7]

In [146]:
Fibonacci series :

    0,1, 1, 2, 3, 5, 8, 13, 21, 34

SyntaxError: invalid syntax (802074296.py, line 1)

In [149]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b, a+b

In [150]:
test_fib(10)

In [151]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34